<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login/Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script> -->
</head>
<body class="body">

    <div class="container">
        <div class="jumbotron" id="jumbo">
            <a href="/register" style="font-size:x-large;padding-right:10px"><b>Register</b></a>
            <a href="/login" style="font-size:x-large"><b>Login</b></a>
            <h1>Welcome to Home Page</h1>
            <h3><i>Welcome to a page where you can register yourself and <b>Add</b> and <b>Delete</b> your tasks!!</i></h2>
            <h4><i>Or in simple words,You can manage them..</i></h4>
        </div>
        
    </div>
</body>
</html>